@font-face {
	font-family: 'HelveticaNeue';
	font-display: swap;
	src: url('../fonts/HelveticaNeueCyr-Light.woff');
  src: local("O"), url('../fonts/HelveticaNeueCyr-Light.eot') format ("embedded-opentype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Light.ttf') format ("truetype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Light.woff') format ("woff"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Light.woff2') format ("woff2"); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue';
	font-display: swap;
	src: url('../fonts/HelveticaNeueCyr-Roman.woff');
  src: local("O"), url('../fonts/HelveticaNeueCyr-Roman.eot') format ("embedded-opentype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Roman.woff.ttf') format ("truetype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Roman.woff.woff') format ("woff"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Roman.woff.woff2') format ("woff2"); 
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue';
	font-display: swap;
	src: url('../fonts/HelveticaNeueCyr-Medium.woff');
  src: local("O"), url('../fonts/HelveticaNeueCyr-Medium.eot') format ("embedded-opentype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Medium.woff.ttf') format ("truetype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Medium.woff.woff') format ("woff"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Medium.woff.woff2') format ("woff2"); 
	font-weight: 700;
	font-style: normal;
}
:root {
  font-size: 16px;
  line-height: 21px;
}
*, 
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  list-style: none;
  text-decoration: none;
  outline: 0;
}
.container  {
  max-width: 1070px;
  margin: 0 auto;
}
/* ============
                header 
                        ========== */
.header {
  background-color: #373A3C;
  padding: 11px 0px;
  border-bottom: 2px solid #777777;
}
.header__section,
.header__navigation,
.navigation__list {
  display: flex;
}
.header__section {
  align-items: center;
  justify-content: space-between;
}
.header__navigation {
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__link,
.user {
  color: rgb(255, 255, 255, 0.5);
}
.menu__link:last-child {
  margin-right: 37px;
}
.menu__link--dropdown {
  position: relative;
  margin-right: 25px;
  padding-bottom: 24px;
}
.menu__link--dropdown::after {
  content: '';
  display: inline-flex;
  position: relative;
  margin-left: 7px;
  width: 12px;
  height: 6.5px;
  background-image: url(../img/drop.svg);
}
.menu__link:hover,
.menu__link:focus,
.user:hover,
.user:focus {
  transition: .2s linear;
  color: rgb(255, 255, 255, 1);
}
.submenu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 62px;
  min-width: 450px;
  background-color: dodgerblue;
  opacity: 0;
}
.submenu__item {
  display: flex;
  align-items: center;
  width: 215px;
  padding: 15px;
  color: rgb(255, 255, 255, .75);
}
.submenu__item--games {
  width: 202px;
}
.submenu__item:hover {
  transition: .1s linear;
  color: rgb(255, 255, 255, 1);
  text-decoration: underline;
}
.menu__list>li:hover .submenu__list {  
  opacity: 1;
  transition: .1s linear;
}
.subsubmenu__list {
  position: absolute;
  background-color: #f0fff0;
  opacity: 0;
}
.submenu__list>li:hover .subsubmenu__list { 
  opacity: 1;
  transition: .1s linear;
}
.subsubmenu__item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid;
  color: #3333aa;
}
.subsubmenu__item:hover {
  transition: .1s linear;
  color: #0000b1;
  background-color: #8DD83D;
}
.search__field {
  width: 210px;
  height: 38px;
  padding: 9px 16px 8px;
  margin-right: 29px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.search__field::placeholder {
  opacity: 0.4;
}
.search__field:hover {
  box-shadow: 0px 0px 10px #777777;
  transition: .2s linear;
}
.search__field:focus {
  box-shadow: 0px 0px 7px #91DC5A;
  border: 1px solid #91DC5A;
  transition: .2s linear;
}
.user {
  display: flex;
  align-items: center;
}
.user:before {
  content: '';
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url(../img/user.svg);
}
.user:after {
  content: '';
  display: inline-flex;
  margin-left: 7px;
  width: 12px;
  height: 6.5px;
  background-image: url(../img/drop.svg);
}
/* ============
                intro 
                        ========== */
.intro {
  color: #ffffff;
}                       
.intro img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.intro__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 765px;
  margin-left: 60%;
}
.intro__caption {
  margin-bottom: 12px;
}
.intro__title {
  font-size: 36px;
  line-height: 42px;
}
.intro__subtitle {
  font-size: 24px;
  line-height: 28px;
}
.intro__comment {
  max-width: 390px;
  margin-bottom: 27px;
  line-height: 24px;
  color: rgb(255, 255, 255, 0.7);
}
.link {
  color: #ffffff;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
}
.intro__link {
  min-width: 138px;
  min-height: 38px;
  padding: 8px 24px 9px 19px;
}
.link:hover {
  transition: .2s linear;
  background: #8DD83D;
}
/* ============
                highligts 
                        ========== */
.highlights {
  min-height: 865px;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
}
.highlights__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlights__headline {
  display: flex;
  flex-direction: column;
  margin: 64px 0px 42px;
}
.highlights__headline img {
  margin-bottom: 16px;
}
.highlights__caption {
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}
.highlights__caption span {
  display: flex;
  margin-top: 10px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}
.highlights__card {
  display: flex;
}
.column {
  width: 320px;
  height: 420px;
  background-color: #ffffff;
  border: 1px solid #8DD83D;
  border-radius: 4px;
}
.highlights__column:not(:last-child) {
  margin-right: 64px;
}
.column img {
  margin-bottom: 20px;
}
.highlights__column--mixer img,
.highlights__column--gwg img {
  background-color: #fafafa;
}
.highlights__column--mixer img {
  padding: 59px 54px 60px 55px;
}
.highlights__column--gwg img {
  padding: 33px 60px;
}
.column__wrapper {
  padding: 0px 21px;
}
.brand,
.features {
  font-weight: 500;
  color: #435766;
}
.brand {
  margin-bottom: 16px;
  font-size: 18px;
}
.features {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}
.active__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 278px;
  height: 60px;
  padding: 20px 23px;
  background: #8DD83D;
  border-radius: 4px;
  color: #ffffff;
}
.active__link:hover {
  transition: .2s linear;
  background: linear-gradient(45deg, rgb(141, 216, 61), rgb(20, 236, 182));
}
/* ============
                exclusive
                        ========== */
.exclusive {
  background: url(../img/callofduty.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0px 140px;
  position: relative;
}
.exclusive::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(23, 23, 23, 0.5);
}
.exclusive__games {
  position: relative;
  text-align: center;
}
.exclusive__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  color: #ffffff;
}
.games__slide {
  display: flex;
  margin-left: 66px;
  margin: 53px 0px 74px 66px;
}
.games__column {
  margin-right: 29px;
}
.games__column:hover {
  transition: .5s;
  transform: scale(1.1);
}
.games__features {
  font-size: 21px;
  line-height: 24px;
}
.column__wrapper--games {
  padding: 0px 40px 0px 21px;
}
.exclusive img:last-child {
  width: 318px;
  height: 180px;
}
.exclusive__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 53px;
  font-size: 21px;
  line-height: 21px;
}
/* ============
                design
                        ========== */
.design {
  background: url(../img/design.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding: 114px 0px 145px;
}
.design::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
}
.design__block {
  position: relative;
  max-width: 500px;
  color: #ffffff;
}
.design__title {
  margin-bottom: 9px;
  font-size: 48px;
  line-height: 56px;
}
.design__description {
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 28px;
}
.design .block__links {
  display: flex;
}
.design__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.design__link--yours {
  width: 207px;
  height: 60px;
  margin-right: 15px;
}
.design__link--explore {
  width: 278px;
  height: 60px;
}
/* ============
                footer
                        ========== */
.footer {
  background-color: #373A3C;
  padding-top: 60px;
}
.footer__box {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(255, 255, 255, .35);
}
.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column__caption {
  font-size: 18px;
  color: #7DD42F;
  margin-bottom: 34px;
}
.footer-column__link {
  position: relative;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.footer-column__link:after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 10px;
  width: 100%;
  height: 3px;
  opacity: 0;
  transition: .1s linear
}
.footer-column__link:hover:after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 3px;
  background-color: #7DD42F;
  opacity: 1;
  transition: .1s linear
}
.icon {
  display: inline-flex;
  margin-right: 35px;
}
.icon:last-child {
  margin-right: 0px;
}
.icon:hover {
  transition: .2s linear;
}
.icon--facebook {
  background: url(../img/facebook.svg) no-repeat;
  width: 11px;
  height: 20px;
}
.icon--twitter {
  background: url(../img/twitter.svg) no-repeat;
  width: 21px;
  height: 18px;
}
.icon--instagram {
  background: url(../img/instagram.svg) no-repeat;
  width: 19px;
  height: 19px;
}
.icon--facebook:hover {
  background: url(../img/facebook-hover.svg) no-repeat;
}
.icon--twitter:hover {
  background: url(../img/twitter-hover.svg) no-repeat;
}
.icon--instagram:hover {
  background: url(../img/instagram-hover.svg) no-repeat;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  line-height: 19px;
  padding: 19px 0px 25px;
  color: #ffffff;
}