@font-face {
	font-family: 'HelveticaNeue';
	font-display: swap;
	src: url('../fonts/HelveticaNeueCyr-Light.woff');
  src: local("O"), url('../fonts/HelveticaNeueCyr-Light.eot') format ("embedded-opentype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Light.ttf') format ("truetype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Light.woff') format ("woff"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Light.woff2') format ("woff2"); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue';
	font-display: swap;
	src: url('../fonts/HelveticaNeueCyr-Roman.woff');
  src: local("O"), url('../fonts/HelveticaNeueCyr-Roman.eot') format ("embedded-opentype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Roman.woff.ttf') format ("truetype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Roman.woff.woff') format ("woff"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Roman.woff.woff2') format ("woff2"); 
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue';
	font-display: swap;
	src: url('../fonts/HelveticaNeueCyr-Medium.woff');
  src: local("O"), url('../fonts/HelveticaNeueCyr-Medium.eot') format ("embedded-opentype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Medium.woff.ttf') format ("truetype"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Medium.woff.woff') format ("woff"); 
  src: local("O"), url('../fonts/HelveticaNeueCyr-Medium.woff.woff2') format ("woff2"); 
	font-weight: 700;
	font-style: normal;
}
:root {
  font-size: 16px;
  line-height: 21px;
}
*, 
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  list-style: none;
  text-decoration: none;
  outline: 0;
}
.container  {
  max-width: 1070px;
  margin: 0 auto;
}
/* ============
                header 
                        ========== */
.header {
  background-color: #373A3C;
  padding: 11px 0px;
  border-bottom: 2px solid #777777;
}
.header__section,
.header__navigation,
.navigation__list {
  display: flex;
}
.header__section {
  align-items: center;
  justify-content: space-between;
}
.header__navigation {
  align-items: center;
}
.header__link,
.user {
  color: rgb(255, 255, 255, 0.5);
}
.header__link:last-child {
  margin-right: 37px;
}
.header__link--dropdown {
  margin-right: 25px;
}
.header__link--dropdown::after {
  content: '';
  display: inline-flex;
  margin-left: 7px;
  width: 12px;
  height: 6.5px;
  background-image: url(../img/drop.svg);
}
.header__link:hover,
.header__link:focus,
.user:hover,
.user:focus {
  transition: .2s linear;
  color: rgb(255, 255, 255, 1);
}
.search__field {
  width: 210px;
  height: 38px;
  padding: 9px 16px 8px;
  margin-right: 29px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.search__field::placeholder {
  opacity: 0.4;
}
.search__field:hover {
  box-shadow: 0px 0px 10px #777777;
  transition: .2s linear;
}
.search__field:focus {
  box-shadow: 0px 0px 7px #91DC5A;
  border: 1px solid #91DC5A;
  transition: .2s linear;
}
.user {
  display: flex;
  align-items: center;
}
.user:before {
  content: '';
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url(../img/user.svg);
}
.user:after {
  content: '';
  display: inline-flex;
  margin-left: 7px;
  width: 12px;
  height: 6.5px;
  background-image: url(../img/drop.svg);
}
/* ============
                intro 
                        ========== */
.intro {
  color: #ffffff;
}                       
.intro img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.intro__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 765px;
  margin-left: 60%;
}
.intro__caption {
  margin-bottom: 12px;
}
.intro__title {
  font-size: 2.25rem;
  line-height: 2rem;
}
.intro__subtitle {
  font-size: 1.5rem;
  line-height: 1.33rem;
}
.intro__comment {
  max-width: 390px;
  margin-bottom: 27px;
  font-size: 1rem;
  line-height: 1.14rem;
  color: rgb(255, 255, 255, 0.7);
}
.intro__link {
  min-width: 138px;
  min-height: 38px;
  padding: 8px 24px 9px 19px;
  color: #ffffff;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
}
.intro__link:hover {
  transition: .2s linear;
  background: #8DD83D;
}
/* ============
                highligts 
                        ========== */
.highlights {
  min-height: 865px;
  background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
}
.highlights__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlights__headline {
  display: flex;
  flex-direction: column;
  margin: 64px 0px 42px;
}
.highlights__headline img {
  margin-bottom: 16px;
}
.highlights__caption {
  text-align: center;
  font-size: 3rem;
  line-height: 2.6rem;
  color: #ffffff;
}
.highlights__caption span {
  display: flex;
  margin-top: 10px;
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: 400;
}
.highlights__card {
  display: flex;
}
.highlights__column {
  width: 320px;
  height: 420px;
  background-color: #ffffff;
  border: 1px solid #8DD83D;
  border-radius: 4px;
}
.highlights__column:not(:last-child) {
  margin-right: 64px;
}
.highlights__column img {
  margin-bottom: 20px;
}
.highlights__column--mixer img,
.highlights__column--gwg img {
  background-color: #fafafa;
}
.highlights__column--mixer img {
  padding: 59px 54px 60px 55px;
}
.highlights__column--gwg img {
  padding: 33px 60px;
}
.column__wrapper {
  padding: 0px 21px;
}
.brand,
.brand__features {
  font-weight: 500;
  color: #435766;
}
.brand {
  margin-bottom: 15px;
  font-size: 1.125rem;
}
.brand__features {
  margin-bottom: 40px;
  font-size: 1.5rem;
  line-height: 1.3rem;
}
.active__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 278px;
  height: 60px;
  padding: 20px 23px;
  background: #8DD83D;
  border-radius: 4px;
  color: #ffffff;
}
.active__link:hover {
  transition: .2s linear;
  background: #707375;
}
/* ============
                exclusive
                        ========== */
.exclusive img {
  background: rgba(23, 23, 23, 0.5);
}